.nav-bar {
    background-color: lightgray;
    display: flex;
    gap: 20px;
    height: 40px;
    align-items: center;
    margin-top: 0;
}

li {
    list-style: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

li:hover {
    cursor: pointer;
    background-color: gray;
}