.car {
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    width: 120px;
    height: 100px;
}

.cars-wrapper {
    border: 1px solid black;
    width: 700px;
    margin: auto;
    margin-top: 20px;
}

.sell-btn {
    margin: 40px;
}